/*
COLOR PALETTE
https://colorhunt.co/palette/f4f4f2e8e8e8bbbfca495464
*/


/* TAG SELECTORS */
body {
  background-color: #F4F4F2;
  color: #495464;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Twinkle Star', cursive;
  font-size: 10rem;
}

a {
  color: #495464;
  text-decoration: none;
}

a:hover {
  color: #F4F4F2;
}


/* HEADER */
.header {
  padding: 2% 10% 15% 10%;
  width: 100%;
}

.title-img-1 {
  position: absolute;
  left: 5%;
  top: 3%;
  height: 200px;
}

.title-img-2 {
  position: absolute;
  right: 20%;
  top: 12%;
  height: 200px;
}

/* MAIN CONTAINER */
.carousel {
width:100%;
height:500px;
padding: 15%;
margin-bottom: 200px;
}

.carousel-inner {
  margin-top: 15%;
}

.carousel-item {
  font-size: 3rem;
  padding: 5%;
}

.yes-no-btn {
  padding: 1% 4%;
  margin: 2% 5%;
  font-size: 3rem;
}

/* QUIZ CONTAINER */
#quiz-container {
  padding: 15% 0;
}

.list-group-item {
  font-size: 4rem;
  padding: 20px;
}

.list-group-header {
  font-size: 5rem;
  font-weight: bolder;
}

/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + i {
  cursor: pointer;
  color: lightgrey;
}

/* CHECKED STYLES */
[type=radio]:checked + i {
  color: #ABD1F3;
}

/* HOVER STYLES */
[type=radio]:hover + i {
  color: #B9F2FF;
}

#stats1 {
  padding-right: 25px;
}

#stats2 {
  padding-left: 25px;
}

.quiz-submit-btn {
  font-size: 4rem;
}

#quiz-score {
  font-size: 5rem;
  padding: 10% 5%;
}

#quiz-message {
  font-size: 3rem;
  padding: 10% 5%;
}

#result-icon {
  font-size: 15rem;
}

/* FOOTER */
.footer-icon-sm {
  font-size: 7rem;
  padding: 2% 4%;
  color: darkgreen;
}

.footer-icon-lg {
  font-size: 10rem;
  padding: 2% 4%;
  color: darkgreen;
}
